<?xml version='1.0' encoding='utf-8'?>
<!DOCTYPE hibernate-configuration PUBLIC
    "-//Hibernate/Hibernate Configuration DTD//EN"
    "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
  <session-factory>
    <property name="connection.url">
      jdbc:postgresql://localhost:5432/module1
    </property>
    <property name="connection.driver_class">
      org.postgresql.Driver
    </property>
    <!-- <property name="connection.username"/> -->
    <property name="connection.username">
      usonic
    </property>

    <!-- <property name="connection.password"/> -->
    <property name="connection.password">
      123
    </property>
    <property name="dialect">
      org.hibernate.dialect.PostgresPlusDialect
    </property>
    <property name="show_sql">true</property>
    <mapping class="com.goit.ee.module3.dto.Developer"/>
    <mapping class="com.goit.ee.module3.dto.Skill"/>
    <mapping class="com.goit.ee.module3.dto.Project"/>
    <mapping class="com.goit.ee.module3.dto.Company"/>
    <mapping class="com.goit.ee.module3.dto.Customer"/>


    <!-- DB schema will be updated if needed -->

    <!-- <property name="hbm2ddl.auto">update</property> -->
  </session-factory>
</hibernate-configuration>